.left-content {
  background-color: aqua;
  flex: 1;

  background: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.black-overlay {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}
img {
  max-width: 100px;
  min-height: 100px;
}
.odin-word {
  font-family: "Skranji", system-ui;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  color: white;
}
.right-content {
  display: flex;
  flex-direction: column;

  flex: 2;
}
.top {
  flex: 1;
  margin-top: 2rem;
  margin-left: 2rem;
  color: rgb(67, 67, 67);

  display: flex;
  flex-wrap: wrap;
}
.description {
  flex: 1;
  text-align: left;
  max-width: 500px;
  font-size: 1.3rem;
  font-weight: bold;
}
.form {
  display: flex;
}
.middle-section {
  padding-left: 2rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);

  font-weight: bold;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 20px;
}

.left-form,
.right-form {
  margin-top: 20px;
  display: flex;
  margin-right: 20px;
  flex-direction: column;
}
.root {
  flex: 1;
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
}

input {
  padding-left: 5px;
  padding: 1px;
  border-radius: 3px;
  margin-bottom: 10px;
  color: black;
  border-width: 1px;
  border-color: #000000;
}
input:invalid {
  border-color: red;
  border-width: 1px;
}

input:valid {
  border-width: 1px;

  border-color: green;
}
label {
  margin-bottom: 5px;
  font-size: 12px;
}
.bottom-section {
  padding-top: 30px;
  padding-left: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgb(214, 214, 214);
}
button {
  margin-bottom: 10px;
  font-weight: bold;
  border: none;
  background-color: green;
  color: white;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
a {
  color: green;
  text-decoration: none;
}
@media screen and (max-width: 400px) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-form,
  .right-form {
    width: 150px;
  }

  .bottom-section > button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top {
    padding-bottom: 20px;
  }

  .bottom-section {
    flex: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(214, 214, 214);
  }
  .black-overlay {
    margin-top: 10px;
    margin: 0 auto;
  }
  .black-overlay img {
    max-width:70px;
    min-height: 50px;
  }
  .sign-button {
    font-size: 1px;

    font-weight: bold;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
  }
  a {
    font-size: 15px;
  }
  .description {
    font-size: 15px;
  }
  .root {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
