@font-face {
  font-family: "MyCustomFont"; /* A name you choose to reference the font */
  src: url("Norse.otf") format("otf");
}
.left-content {
  background-color: aqua;
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  background: url(background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.black-overlay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.black-overlay img {
  width: 15%;
}
.odin-word {
  font-family: "Skranji", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: white;
}
.right-content {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.top {
  padding-left: 5rem;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: rgb(248, 248, 248);
}
.description {
  position: absolute;
  bottom: 10%;
  color: rgb(67, 67, 67);
  text-align: left;
  max-width: 500px;
  font-size: 1.3rem;
  font-weight: bold;
}
.sign-form {
  box-shadow:
    0 6px 20px 0 rgba(0, 0, 0, 0.4);

  font-weight: bold;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  flex: 1;
  position: relative;
  display: flex;
  padding-top: 1rem;
  padding-left: 5rem;
  gap: 4rem;
}
.form-header {
  top: 10px;
  position: absolute;
}
.left-form,
.right-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
  display: flex;
  margin: 0;
}
input {
  padding-left: 0.5rem;
  padding: 0.2rem;
  border-radius: 3px;
  margin-bottom: 10px;
  color: black;
  border-width: 1px;
  border-color: #000000;
}
input:invalid {
  border-color: red;
  border-width: 1px;
}

input:valid {
  border-width: 1px;

  border-color: green;
}
label {
  margin-bottom: 5px;
  font-size: 12px;
}
.bottom-section {
  padding-top: 1rem;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 5rem;
  background-color: rgb(214, 214, 214);
}
button {
    margin-bottom: 1rem;
  font-weight: bold;
  border: none;
  background-color: green;
  color: white;
  padding: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
a {
  color: green;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}
